@{
    ViewData["Title"] = "Account Management";
}

<h2>Account Management</h2>

<ul>
    <li>
        <a asp-controller="Account" asp-action="RegisterStudent">Register Student</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="RegisterEmployee">Register Employee</a>
    </li>
</ul>
