
<div class="container">
    <div class="row">
        <!-- Mentor Section -->
        <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="fw-bold text-light d-inline-block pb-1">
                <span class="border-bottom border-white w-100 d-inline-block">Mentor</span>
            </h5>
            <p class="text-light fw-bold">A108 Adam Street<br>New York, NY 535022</p>
            <p class="fw-bold text-light"><strong class="fw-bold text-light">Phone:</strong> +1 5589 55488 55</p>
            <p class="fw-bold text-light"><strong class="fw-bold text-light">Email:</strong> info@example.com</p>
            <!-- Social Icons -->
            <div class="d-flex gap-2">
                <a href="#" class="btn btn-outline-secondary rounded-circle text-light"><i class="fab fa-twitter"></i></a>
                <a href="#" class="btn btn-outline-secondary rounded-circle text-light"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="btn btn-outline-secondary rounded-circle text-light"><i class="fab fa-instagram"></i></a>
                <a href="#" class="btn btn-outline-secondary rounded-circle text-light"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

        <!-- Useful Links -->
        <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="fw-bold text-light d-inline-block pb-1">
                <span class="border-bottom border-white w-100 d-inline-block">Useful Links</span>
            </h5>

            <ul class="list-unstyled">
                <li><a href="#" class="text-light text-decoration-none">Home</a></li>
                <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
                <li><a href="#" class="text-light text-decoration-none">Services</a></li>
                <li><a href="#" class="text-light text-decoration-none">Terms of Service</a></li>
                <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
            </ul>
        </div>

        <!-- Our Services -->
        <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="fw-bold text-light d-inline-block pb-1">
                <span class="border-bottom border-white w-100 d-inline-block">Our Services</span>
            </h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-light text-decoration-none">Web Design</a></li>
                <li><a href="#" class="text-light text-decoration-none">Web Development</a></li>
                <li><a href="#" class="text-light text-decoration-none">Product Management</a></li>
                <li><a href="#" class="text-light text-decoration-none">Marketing</a></li>
                <li><a href="#" class="text-light text-decoration-none">Graphic Design</a></li>
            </ul>
        </div>

        <!-- Newsletter -->
        <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="fw-bold text-light d-inline-block pb-1">
                <span class="border-bottom border-white w-100 d-inline-block">Our Newsletter</span>
            </h5>
            <p class="fw-bold text-light">Subscribe to our newsletter and receive the latest news about our products and services!</p>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter email">
                <button class="btn btn-success text-light fw-bold">Subscribe</button>
            </div>
        </div>
    </div>
</div>

<div class="container copyright text-center mt-4">
    <p class="text-light">© <span>Copyright</span> <strong class="px-1 sitename fw-bold">Gove High School</strong> <span>All Rights Reserved</span></p>
    <div class="credits text-light">
        Designed by <a href="https://www.ap.gov.in/">Govt Of Andhra Pradesh</a>
    </div>
</div>
